<a href="index2.html" class="logo">
    <span class="logo-mini"><img src="{{ function('base_url','assets/images/cms/logo.png') }}" class="logo-header" width="70%"></span>
    <span class="logo-lg"> <img src="{{ function('base_url','assets/images/cms/logo.png') }}" class="logo-header" width="18%"> ARMPSP</span>
</a>
<nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{{ function('base_url', user['profile_picture']|default('assets/images/home/header/default-avatar.png')) }}" class="user-image" alt="User Image">
                    <span class="hidden-xs">{{user['name']}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <img src="{{ function('base_url', user['profile_picture']|default('assets/images/home/header/default-avatar.png')) }}" class="img-circle" alt="User Image">
                        <p> {{user['name']}} </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-right">
                            <a href="{{ function('site_url','authentication/logout') }}" class="btn btn-default btn-flat">Sign out</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>