{% set user = session('user') %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'front_end/shared/header.twig' %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="{{ (page_title == 'Masuk Akun') or (page_title == 'Daftar Akun Baru') or (page_title == 'Periksa') or (page_title == 'Konsul Dokter') or (page_title == 'Kunjungan') ? 'header-nonform' :'' }}">
            {% include 'front_end/shared/menu.twig' %}
        </header>
        <section class="main-content">
            {% block content %}
            {% endblock %}
        </section>

        {% block contact %}
        {% endblock %}
        <div id="popover-content-profile" class="hide" style="top:500px;">
            {# <div class="container"> #}
                <div class="row" style="padding-bottom:25px;border-bottom:1px solid rgba(193,193,193,.8)">
                    <div class="col-md-12" style="text-align:center">
                    {# <div class="col-md-12" style="padding-left:25%;padding-right:25%"> #}
                    <img src="{{ function('base_url','assets/images/home/header/default-avatar.png') }}" alt="Avatar" class="avatar-header" style="width:75px;height:75px;margin-top:5%;margin-bottom:5%"><br>
                    <span style="font-size:18px;text-align:center">{{ _user.name }}</span><br>
                    {# <a href=""><button>Edit Profile</button></a> #}
                    </div>
                </div>
                {# <div class="row" style="padding-bottom:0">
                <hr style="padding-top:2px;padding-bottom:0">
                </div> #}
                <div class="col-md-6 no-padding">
                <div class="row list-popover-profile" style="height:50px;text-align:center">
                    <a href="{{ function('site_url', 'ubah-profil') }}"><div class="col-md-6" style="padding-top:15px">
                        <span style="font-size:16px;color:#fff;"><i class="glyphicon glyphicon-user" style="color:#fff"></i> Profile</span>
                    </div></a>
                    {# <a href="{{ function('site_url','authentication/logout') }}"><div class="col-md-6" style="padding-top:15px"> #}
                        {# <span style="font-size:16px;color:#fff"><i class="glyphicon glyphicon-share-alt" style="color:#fff"></i> Keluar</span> #}
                    {# </div></a> #}
                </div>
                </div>
                <div class="col-md-6" style="border-left: 1px solid rgba(193,193,193,.8) !important">
                    <div class="row list-popover-profile" style="height:50px;text-align:center">
                    {# <a href="{{ function('site_url', 'ubah-profil') }}"><div class="col-md-6" style="padding-top:15px;border-right:1px solid"> #}
                        {# <span style="font-size:16px;color:#fff;"><i class="glyphicon glyphicon-user" style="color:#fff"></i> Profile</span> #}
                    {# </div></a> #}
                    <a href="{{ function('site_url','authentication/logout') }}"><div class="col-md-6" style="padding-top:15px">
                        <span style="font-size:16px;color:#fff"><i class="glyphicon glyphicon-share-alt" style="color:#fff"></i> Keluar</span>
                    </div></a>
                </div>
                </div>
                {# <div class="row list-popover-profile" style="height:50px"> #}
                    {# <a href="{{ function('site_url','authentication/logout') }}"><button class="pull-right"> Keluar</button></a> #}
                    {# <a href="{{ function('site_url','authentication/logout') }}" style="margin-left:20px"><span style="color:#636e72"><i class="fa fa-fw fa-sign-out" style="font-size: 20px;margin-right: 0;color:#2c3e50;vertical-align:middle"></i> Keluar</span></a> #}
                {# </div> #}
            {# </div> #}
          {# <form class="form-inline" role="form">
            <div class="form-group"> 
              <input class="headerSearch search-query" id="str" name="str" type="text" placeholder="Search..." />
              <span class="glyphicon glyphicon-search" style="margin:3px 8px 0 -20px;"></span>
              <input class="btn btn-primary btn-xs" id="phSearchButton" type="submit" value="Search" /> 
            </div>
          </form> #}
        </div>
        {% include 'front_end/shared/footer.twig' %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
