{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main-slider">
        <!-- <div class="row"> -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="assets/images/home/content/slider/image1.jpg" alt="...">
                    <div class="carousel-caption">
                        <div class="overlay-slider">
                            <div class="container" style="z-index: 99;padding-top: 30px">
                                <h2 style="heading-slider"><b><a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider">13 Tips Makan Sehat untuk Orang Sibuk</a></b></h2>
                                <p style="description-slider">Apakah Anda orang yang sibuk? Jadwal dipenuhi setumpuk deadline, padatnya jadwal meeting, lembur sampai malam, dan lain sebagainya? Terkadang, orang-orang yang sibuk susah mengontrol asupan makanan. Biasanya, mereka hanya memilih makan yang cepat dan gampang diperoleh supaya tidak menyita banyak waktu. Padahal, asupan makanan adalah... <a href="{{ function('site_url', 'info-sehat') }}" class="detail-info-slider"><u>info lengkap</u></a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/home/content/slider/image2.jpg" alt="...">
                    <div class="carousel-caption">
                        <div class="overlay-slider">
                            <div class="container" style="z-index: 99;padding-top: 30px">
                                <h2 class="heading-slider"><b><a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider">Terlalu Sering Makan Daging Bisa Kena Diabetes, Kok Bisa?</a></b></h2>
                                <p style="description-slider">Sekarang ini, sebagian besar orang sudah berusaha untuk mengurangi asupan daging. Katanya, sih, konsumsi daging bisa menyebabkan berbagai penyakit kronis, seperti diabetes. Apalagi jika dikonsumsi terlalu sering. Lantas, benarkah makan daging bisa menyebabkan penyakit diabetes? <a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider"><u>info lengkap</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/home/content/slider/image3.jpg" alt="...">
                    <div class="carousel-caption">
                        <div class="overlay-slider">
                            <div class="container" style="z-index: 99;padding-top: 30px">
                                <h2 class="heading-slider"><b><a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider">Mengenal Asam Amino, Fungsinya Bagi Tubuh dan Sumber Makanannya</a></b></h2>
                                <p style="description-slider">Jika membicarakan asam amino, ini tidak lepas dari yang namanya protein. Ya, protein yang biasa Anda dapatkan dari telur, daging, kacang-kacangan, tahu, tempe, ikan, dan lain-lain itu. Lalu apa hubungannya asam amino sama protein? Sebenarnya apa itu asam amino?  <a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider"><u>info lengkap</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/home/content/slider/image4.jpg" alt="...">
                    <div class="carousel-caption">
                        <div class="overlay-slider">
                            <div class="container" style="z-index: 99;padding-top: 30px">
                                <h2 class="heading-slider"><b><a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider">5 Resep Brunch Lezat, Buat Anda yang Suka Sarapan Siang-Siang</a></b></h2>
                                <p style="description-slider">Menurut Jessica Fishman Levinson, RDN, telur merupakan salah satu makanan yang cocok disantap kapan saja, termasuk saat brunch. Pasalnya, kombinasi putih dan kuning telurnya mengandung vitamin D, kolin, dan vitamin B yang baik untuk memenuhi kebutuhan energi harian Anda. Untuk mendapatkan manfaat terbaik, buatlah satu omelet dengan 1 butir telur utuh dan 2 putih telur. Ini akan mengurangi kalori dengan tetap <a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider"><u>info lengkap</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="assets/images/home/content/slider/image5.jpg" alt="...">
                    <div class="carousel-caption">
                        <div class="overlay-slider">
                            <div class="container" style="z-index: 99;padding-top: 30px">
                                <h2 class="heading-slider"><b><a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider">4 Manfaat Jamu Kunyit Asam (Tak Cuma Redakan Nyeri Haid, Lho!)</a></b></h2>
                                <p style="description-slider">Di samping menggunakan obat-obatan dokter, masyarakat lebih akrab dengan produk-produk herbal atau jamu buatan sendiri dengan resep turun temurun dari keluarga. Salah satunya adalah jamu kunyit asam, racikan kunyit dan asam jawa yang terbukti mampu mengobati sejumlah penyakit. Memangnya apa saja manfaat kesehatan yang bisa didapatkan dari kunyit asam? <a href="{{ function('site_url', 'info-sehat') }}" class="pointer detail-info-slider"><u>info lengkap</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- </div> -->
    </div>
{% endblock %}

{% block contact %}
    <section id="footer_widget" class="footer_widget">
        <div class="container">
            <div class="row">
                <div class="main_widget">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                <h4 class="footer_title" style="font-size: 20px"><b>KONTAK INFO</b></h4>
                                <div class="separator3"></div>
                                <span style="font-size: 17px;">Rinez Asprinola</span><br>
                                <span><i class="fa fa-map-marker" style="margin-left:3px;margin-right:14px"></i> Jl. Terusan Buah Batu Perumahan Permata Buah Batu Blok C No.14/C Bandung, Indonesia </span><br>
                                <span class="contact-icon"><i class="fa fa-envelope-o"></i> asprinolarinez@gmail.com</span><br>
                                <span><i class="fa fa-phone" style="margin-left:2px;margin-right:12px"></i> +6877-7299-1915</span><br>
                                <span><a href="#">www.armusp.com</a></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                <h4 class="footer_title" style="font-size: 20px"><b>SOSIAL MEDIA</b></h4>
                                <div class="separator3"></div>
                                <img src="assets/images/home/footer/facebook.png" alt="logo" style="width:8%;margin-left: 4px" id="img-social-media-footer" /><a class="" href="#"><span class="social-media-footer" style="padding-left:6%;">ormpsofficial</span></a><br>
                                <img src="assets/images/home/footer/twitter.png" alt="logo" style="width:11%"/><a class="" href="#"><span class="social-media-footer" style="padding-left:4%">@official_ormpsp</span></a><br>
                                <img src="assets/images/home/footer/instagram.png" alt="logo" style="width:8%;margin-left: 4px"/><a class="" href="#"><span class="social-media-footer" style="padding-left:6%;">@ormpsp12_official</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script>
        $('.carousel').carousel({
            interval: 18000
        })
    </script>
{% endblock %}