{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
            	<div class="col-md-12">
                    <h2 style="margin-bottom:15px;font-size:32px">Mengapa Semakin Tua Kebutuhan Kalori Semakin Berkurang?</h2>
        		  <div class="sd-content" style="padding-bottom:10px">
                        <ul>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/facebook-icon.png') }}" title="Bagikan di Facebook" alt="Bagikan di Facebook" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/twitter-icon.png') }}" title="Bagikan di Twitter" alt="Bagikan di Twitter" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/tumblr-icon.png') }}" title="Bagikan di Tumblr" alt="Bagikan di Tumblr" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/gplus-icon.png') }}" title="Bagikan di Google Plus" alt="Bagikan di Google Plus" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/instagram-icon.png') }}" title="Bagikan di Instagram" alt="Bagikan di Instagram" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/line-icon.png') }}"  title="Bagikan di Line"alt="Bagikan di Line" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                      </ul>
                    </div>
                </div>
                <div class="col-md-7">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/content/slider/image7.jpg') }}" alt="" width="100%" align="center">
                </div>

                <div class="col-md-5" style="">
                    <p>Makanan yang mengandung kalori penting untuk kehidupan manusia sebagai penghasil energi, mulai dari anak-anak hingga menjadi lansia. Namun, kebutuhan kalori tersebut akan terus berubah seiring dengan bertambahnya usia. Bila diperhatikan, kebutuhan kalori menginjak usia tua akan terus berkurang; menjadi lebih sedikit dibanding kebutuhan kalori orang dewasa. Mengapa demikian? Simak ulasannya berikut ini.
                    </p>
				    <h3><b>Kebutuhan kalori akan berkurang seiring dengan bertambahnya usia</b></h3>
                    <p>Makanan menyediakan energi, protein, vitamin, mineral, serat, dan air yang dibutuhkan oleh tubuh. Jumlah kebutuhan kalori bergantung pada jenis kelamin, berat tubuh, tinggi badan, dan aktivitas yang dilakukan, serta usia.</p>
                </div>
                <div class="col-md-12" style="padding-top:60px">
                    <p>Untuk lansia, beberapa kebutuhan nutrisi dari makanan mungkin akan meningkat jumlahnya, tapi kebutuhan kalorinya tidak ikut naik</p>
                    <p>Menurut Angka Kecukupan Gizi oleh Kementerian Kesehatan Republik Indonesia, pria usia 30 tahun rata-rata membutuhkan 2.625 kalori yang berubah menjadi 1.525 kalori ketika usia mencapai 80 tahun ke atas. Sementara wanita yang berumur 30 tahun rata-rata membutuhkan 2.150 kalori dan berubah menjadi 1.425 kalori ketika usianya mencapai 80 tahun lebih.</p>

                    <h3><b>Bertambahnya umur dan berkurangnya aktivitas menyebabkan berkurangnya kebutuhan kalori</b></h3>


                    <p>Saat beraktivitas, tubuh melakukan metabolisme. Metabolisme adalah kemampuan tubuh untuk memecah nutrisi dan mengubahnya menjadi energi atau menyimpannya sebagai lemak untuk energi cadangan. Bila jumlah kalori tidak seimbang dengan aktivitas yang dialkukan, berat badan bisa bertambah.</p>

                    <p>Saat usia muda, seseorang yang memiliki berat badan berlebih tentu akan disarankan untuk melakukan diet. Mereka akan mengurangi atau menghindari makanan berkalori agar lemak yang tertimbun pada tubuh digunakan sebegai penghasil energi. Secara sederhana, ini pun berlaku pada orang yang bertambah tua. Berkurangnya kebutuhan kalori seiring bertambahnya usia dilakukan untuk menjaga berat badannya. Ini dilakukan karena mereka tidak lagi aktif layaknya orang dewasa usia produktif, sehingga kalori yang terbakar juga lebih sedikit.</p>

                    <p>Metabolisme berhubungan dengan massa otot karena sel otot sibuk menggerakan tubuh dalam melakukan berbagai aktivitas. Saat usia remaja atau sekitar usia dua puluhan, metabolisme relatif lebih tinggi sebab aktivitas yang dilakukan lebih banyak. Namun, sekitar usia 30 tahun, aktivitas yang dilakukan tidak sebanyak saat remaja sehingga massa otot akan berkurang dan akan menjadi lebih gemuk. Apalagi lansia, mereka mudah sekali cepat lelah dan biasanya memilih masalah pada tulang yang menghambat aktivitasnya, misalnya osteoporosis dan osteoarthritis.</p>

                    <p>Berkurangnya kebutuhan kalori dilakukan sebagai upaya hidup sehat, yaitu mencegah terjadinya berat badan berlebih yang bisa meningkatkan risiko obesitas, penyakit diabetes, penyakit jantung, dan penyakit ginjal.</p>

                    <h3><b>Panduan kebutuhan kalori sesuai usia dan aktivitas</b></h3>
                    <p>Dilansir dari Very Well Fit, National Institute on Aging menawarkan panduan umum kebutuhan kalori bagi pria dan wanita dengan usia di atas 50 tahun sesuai dengan aktivitasnya. Berikut panduannya:<p>

                    <h4>Kebutuhan kalori untuk wanita di atas 50 tahun</h4>

                    <p><ul>
                        <li>Tidak aktif secara fisik, membutuhkan 1.600 kalori per hari</li>
                        <li>Sedikit aktif, membutuhkan 1.800 kalori per hari</li>
                        <li>Aktif, membutuhkan 2.000 sampai 2.200 kalori per hari</li>
                    </ul></p>
                    
                    
                    

                    <h4>Kebutuhan kalori untuk pria di atas 50 tahun</h4>
                    <p><ul>
                        <li>Tidak aktif secara fisik, membutuhkan 2.000 kalori per hari</li>
                        <li>Sedikit aktif, membutuhkan 2.200 sampai 2.400 kalori per hari</li>
                        <li>Aktif, membutuhkan 2.400 sampai 2.800 kalori per hari</li>
                    </ul></p>
                    
                    
                    <p>Untuk mendapatkan panduan yang tepat sesuai dengan usia dan kondisi Anda, sebaiknya konsultasikan terlebih dahulu kepada dokter atau ahli gizi.</p>

                    <p>Selain kalori, kebutuhan nutrisi lainnya juga harus dijaga. Pola makan dan pilihan makanan yang sehat baik dari kandungannya juga cara pengolahannya juga harus diperhatikan. Apalagi, sebagian besar orang yang bertambah usia menjadi tua kehilangan selera makan atau kehilangan gigi, memilih menu makanan yang sesuai dengan kondisinya dapat membantu memenuhi nutrisi yang dibutuhkan.</p>
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}