{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
            	<div class="col-md-12">
                    <h2 style="margin-bottom:15px;font-size:32px">Berapa Batas Asupan Karbohidrat yang Ideal Per Hari?</h2>
            	   <div class="sd-content" style="padding-bottom:10px">
                        <ul>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/facebook-icon.png') }}" title="Bagikan di Facebook" alt="Bagikan di Facebook" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/twitter-icon.png') }}" title="Bagikan di Twitter" alt="Bagikan di Twitter" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/tumblr-icon.png') }}" title="Bagikan di Tumblr" alt="Bagikan di Tumblr" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/gplus-icon.png') }}" title="Bagikan di Google Plus" alt="Bagikan di Google Plus" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/instagram-icon.png') }}" title="Bagikan di Instagram" alt="Bagikan di Instagram" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/line-icon.png') }}"  title="Bagikan di Line"alt="Bagikan di Line" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                      </ul>
                    </div>
                </div>
                <div class="col-md-7">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/content/slider/image6.jpg') }}" alt="" width="100%" align="center">
                </div>

                <div class="col-md-5" style="">
                    <p>Setiap makanan yang Anda konsumsi sehari-hari memiliki bermacam-macam kandungan zat gizi yang penting bagi tubuh. Di antara zat gizi tersebut, ada yang berfungsi untuk menyumbang energi yang diperlukan oleh tubuh dalam jumlah yang besar, biasanya disebut makronutrien (zat gizi penting). Salah satu zat gizi penting yang sering Anda temui dalam makanan sehari-hari adalah karbohidrat. Sebenarnya, seberapa pentingkah peran karbohidrat dalam tubuh? Berapa kebutuhan karbohidrat Anda setiap harinya?
                    </p>

                    <h3><b>Apa itu karbohidrat?</b></h3>
                    <p>Karbohidrat adalah senyawa yang menyediakan energi pada tubuh dalam bentuk kalori. Karbohidrat terbagi menjadi dua macam, yaitu karbohidrat kompleks dan sederhana.</p>


                    {# <h3>Makanan saat ambeien harus kaya serat</h3> #}
                    {# <p>Asam amino adalah bagian terkecil dari struktur protein. Bisa dikatakan, protein dari makanan yang Anda makan itu adalah kumpulan dari beberapa asam amino. Sebagai bentuk paling sederhana dari protein, bentuk asam amino inilah yang nantinya bisa diserap oleh tubuh dan menjalankan fungsinya dengan baik..</p> #}
                </div>
                <div class="col-md-12" style="padding-top:60px">
                    <p>Sesuai namanya, karbohidrat kompleks mengandung banyak molekul gula dan kaya akan serat sehingga memerlukan proses yang lebih lama untuk dicerna dalam tubuh. Sedangkan karbohidrat sederhana memiliki kandungan molekul gula yang lebih sedikit sehingga proses pencernaannya pun menjadi lebih cepat.</p>

                    <h3><b>Berapa kebutuhan karbohidrat per hari?</b>
                    <p>Kebutuhan karbohidrat per orang setiap harinya berbeda-beda. Jenis kelamin, umur, tingkat aktivitas yang dilakukan, serta kondisi kesehatan akan mempengaruhi kebutuhan karbohidrat Anda. Untuk mengetahui berapa seharusnya kebutuhan karbohidrat harian, Anda dapat mengacu pada Angka Kecukupan Gizi (AKG) oleh Kementerian Kesehatan Republik Indonesia.</p>

                    <p>Sehingga, AKG akan digunakan sebagai acuan zat gizi rata-rata yang diperlukan oleh sekelompok orang berdasarkan jenis kelamin dan usianya. Berikut rincian karbohidrat yang dibutuhkan laki-laki dan perempuan berdasarkan usia:</p>

                    <h4><b>1.Perempuan</b></h4>
                    <p>
                        <ul>
                            <li>Anak-anak: 155-254 gram (gr)/ hari</li>
                            <li>Usia 10-12 tahun: 275 gr/ hari</li>
                            <li>Usia 13-18 tahun: 292 gr/ hari</li>
                            <li>Usia 19-29 tahun: 309 gr/ hari</li>
                            <li>Usia 30-49 tahun: 323 gr/ hari</li>
                            <li>Usia 50-64 tahun: 285 gr/ hari</li>
                            <li>Usia 65-80 tahun: 252 gr/ hari</li>
                            <li>Usia di atas 80 tahun: 232 gr/ hari</li>
                        </ul>
                    </p>
                    
                    <h4><b>2. Laki-laki</b></h4>
                     <p>
                        <ul>
                            <li>Anak-anak: 155-254 gr/ hari</li>
                            <li>Usia 10-12 tahun: 289 gr/ hari</li>
                            <li>Usia 13-15 tahun: 340 gr/hari</li>
                            <li>Usia 16-18 tahun: 368 gr/ hari</li>
                            <li>Usia 19-29 tahun: 375 gr/ hari</li>
                            <li>Usia 30-49 tahun: 394 gr/ hari</li>
                            <li>Usia 50-64 tahun: 349 gr/ hari</li>
                            <li>Usia 65-80 tahun: 309 gr/ hari</li>
                            <li>Usia di atas 80 tahun: 248 gr/ hari</li>
                        </ul>
                    </p>
                    
                    <p>Namun yang perlu Anda ingat, acuan dari AKG ini harus tetap Anda pertimbangkan sesuai dengan aktivitas, berat badan, dan tinggi badan Anda. Sehingga bisa diketahui secara pasti kebutuhan karbohidrat Anda.</p>

                    <img src="https://hellosehat.com/wp-content/uploads/2018/03/kebutuhan-karbohidrat-nasi-roti-kentang-pasta-mi.jpg" width="600px">


                    <h3><b>Apa saja sumbernya?</b></h3>
                    <p>Setelah mengetahui berapa kebutuhan karbohidrat Anda setiap hari, saatnya mengetahui sumber makanan apa saja yang dapat dikonsumsi guna memenuhi kebutuhan karbohidrat tubuh.</p>

                    <h4><b>1. Pati</b></h4>
                    <p>Sebagian besar orang memenuhi kebutuhan karbohidrat dari sumber pati. Pati termasuk dalam karbohidrat kompleks sehingga membutuhkan waktu lebih lama untuk dicerna oleh tubuh. Sumber makanan ini di antaranya nasi, gandum, roti, pasta, kacang-kacangan, kentang, dan jagung.</p>

                    <h4><b>2. Buah-buahan dan sayuran</b></h4>
                    <p>Buah dan sayuran juga merupakan sumber energi, hanya mengandung sedikit molekul gula sehingga mempercepat proses pencernaan. Seperti pisang, anggur, apel, jeruk, brokoli, bayam, wortel.</p>

                    <h4><b>3. Susu</b></h4>
                    <p>Sama halnya dengan buah dan sayur, susu juga merupakan sumber karbohidrat sederhana. Tidak hanya susu, yogurt juga dapat menyumbang kalori dalam tubuh Anda.</p>

                    <h3><b>Manfaat karbohidrat bagi tubuh dan otak</b></h3>
                    <p>Karbohidrat merupakan salah satu sumber zat gizi yang memberi keuntungan pada kerja tubuh dan otak karena mengandung glukosa. Dimana glukosa berperan sebagai bahan bakar utama untuk menghasilkan energi yang akan digunakan oleh sel tubuh untuk menjalankan fungsi metabolisme dan biologisnya. Glukosa sangat penting bagi sel darah merah, otak, maupun sel-sel tubuh lainnya.  </p>

                    <p>Jika kecukupan karbohidrat yang ada dalam tubuh Anda tidak menjalankan tugasnya dengan baik sebagai penghasil energi, maka tugas ini akan dialihkan pada protein dan lemak. Di mana seharusnya protein dan lemak memiliki peran penting lain bagi tubuh, protein yang memiliki fungsi utama untuk membangun otot dan jaringan akan beralih fungsi menjadi glukosa jika ketersediaan karbohidrat dalam tubuh tidak mencukupi.</p>

                    <h3><b>Apa efeknya jika kebanyakan makan karbohidrat?</b></h3>
                    <p>Karbohidrat jika dikonsumsi berlebihan dapat memberikan efek yang kurang baik bagi tubuh Anda, diantaranya akan menimbulkan masalah pada pencernaan, gula darah, serta penimbunan kalori yang dapat berujung pada peningkatan berat badan.</p>

                    <p>Maka dari itu, Livestrong merekomendasikan untuk membatasi konsumsinya hanya sebatas kebutuhan tubuh Anda. Selain itu, bisa juga dilakukan dengan mengimbangi konsumsi karbohidrat dengan melakukan aktivitas fisik seperti olahraga.</p>
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}