{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
            	<div class="col-md-12">
                    <div class="sd-content" style="padding-bottom:10px">
                        <ul>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/facebook-icon.png') }}" title="Bagikan di Facebook" alt="Bagikan di Facebook" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/twitter-icon.png') }}" title="Bagikan di Twitter" alt="Bagikan di Twitter" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/tumblr-icon.png') }}" title="Bagikan di Tumblr" alt="Bagikan di Tumblr" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/gplus-icon.png') }}" title="Bagikan di Google Plus" alt="Bagikan di Google Plus" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/instagram-icon.png') }}" title="Bagikan di Instagram" alt="Bagikan di Instagram" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                            <li><img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/line-icon.png') }}"  title="Bagikan di Line"alt="Bagikan di Line" width="40px" align="center" onclick="alert('Hello this is feature coming soon :)')"></li>
                      </ul>
                    </div>
                    <h2 style="margin-bottom:15px;font-size:32px">4 Manfaat Jamu Kunyit Asam (Tak Cuma Redakan Nyeri Haid, Lho!)</h2>
            	</div>
                <div class="col-md-7">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/content/slider/image5.jpg') }}" alt="" width="100%" align="center">
                </div>

                <div class="col-md-5" style="">
                    <p>Di samping menggunakan obat-obatan dokter, masyarakat lebih akrab dengan produk-produk herbal atau jamu buatan sendiri dengan resep turun temurun dari keluarga. Salah satunya adalah jamu kunyit asam, racikan kunyit dan asam jawa yang terbukti mampu mengobati sejumlah penyakit. Memangnya apa saja manfaat kesehatan yang bisa didapatkan dari kunyit asam? Baca terus ulasan berikut ini hingga tuntas, ya!</p>

                    <p>Berbagai manfaat jamu kunyit asam untuk kesehatan
                    Secara alamiah, kunyit mengandung bahan aktif yang berfungsi sebagai analgesik (meredakan nyeri), antipiretik (menurunkan suhu tubuh saat demam), dan antiradang. Begitu juga dengan asam jawa yang mengandung bahan aktif sebagai antiradang, antipiretik, dan penenang. Campuran kedua bahan alami ini telah terbukti aman dan tidak menyebabkan keracunaan bila dikonsumsi bersamaan. Nah, berikut manfaat yang bisa Anda dapatkan dari jamu kunyit asam:</p>
                </div>
                <div class="col-md-12" style="padding-top:60px">
                    <h3><b>Berbagai manfaat jamu kunyit asam untuk kesehatan</b></h3>
                    <p>Secara alamiah, kunyit mengandung bahan aktif yang berfungsi sebagai analgesik (meredakan nyeri), antipiretik (menurunkan suhu tubuh saat demam), dan antiradang. Begitu juga dengan asam jawa yang mengandung bahan aktif sebagai antiradang, antipiretik, dan penenang. Campuran kedua bahan alami ini telah terbukti aman dan tidak menyebabkan keracunaan bila dikonsumsi bersamaan. Nah, berikut manfaat yang bisa Anda dapatkan dari jamu kunyit asam:</p>

                    <h4>1. Meredakan nyeri haid</h4>
                    <p>Jamu kunyit asam umum dikonsumsi oleh wanita dengan keluhan nyeri haid. Bahkan kini kunyit asam sudah banyak diproduksi dalam bentuk serbuk atau minuman kemasan sehingga Anda tidak perlu repot-repot meraciknya sendiri.</p>

                   <p> Kandungan kurkumin pada kunyit bekerja dengan mengurangi aliran masuk ion kalsium pada sel-sel epitel rahim dan mengurangi produksi prostaglandin, yaitu hormon yang menciptakan rasa sakit dan pembengkakan.</p>

                    <p>Manfaat ini semakin diperkuat dengan reaksi tannin, saponin, sesquiterpenes, alkaloid, dan phlobotamin pada asam jawa yang dapat memengaruhi sistem saraf otonom dan otak. Selanjutnya, otak akan mengirimkan perintah ke tubuh untuk meredakan kontraksi rahim.</p>

                   <p> Maka tidak diragukan lagi bila minuman kunyit asam memang terbukti mampu mengatasi nyeri haid pada wanita.</p>
                    <img src="https://hellosehat.com/wp-content/uploads/2018/02/5-Manfaat-Jamu-Kunyit-Asam-Tidak-Hanya-Untuk-Nyeri-Haid-Lho.jpg" width="600px">



                    <h4>2. Sebagai antioksidan</h4>
                    <p>Sejumlah penelitian membuktikan bahwa kunyit dan asam sama-sama bermanfaat sebagai antioksidan. Pasalnya, senyawa kurkumin pada kunyit diketahui memiliki aktivitas antioksidan yang tinggi, sama halnya dengan asam jawa yang juga mengandung senyawa antioksidan yang baik untuk tubuh.</p>

                    <p>Kandungan antioksidan pada minuman kunyit asam mempunyai aktivitas yang lebih besar dibandingkan dengan antioksidan sintetis. Suatu penelitian menyebutkan bahwa formula terbaik minuman kunyit asam terdiri dari 25 persen asam, 5 persen kunyit, dan 70 persen air untuk kadar antioksidan yang maksimal.</p>

                    <h4>3. Menurunkan berat badan</h4>
                    <p>Secara terpisah, baik kunyit maupun asam jawa sama-sama berkhasiat untuk menurunkan berat badan. Khasiat ini tentu semakin maksimal dengan menggabungkan dua bahan alami tersebut.</p>

                    <p>Kurkumin, yaitu suatu antioksida pada kunyit berfungsi untuk menekan respon peradangan pada sel tubuh, temasuk sel pankreas, lemak, dan otot. Reaksi ini dapat membantu mengurangi resistensi insulin, menurunkan kadar gula darah dan kolesterol serta kondisi metabolik lainnya akibat obesitas. Alhasil, berat badan Anda cenderung lebih stabil dan menurunkan risiko obesitas. Selain itu, tubuh Anda juga menjadi lebih fokus saat menurunkan berat badan karena minimnya reaksi peradangan pada tubuh setelah minum kunyit asam.</p>

                    <h4>4. Mengendalikan gula darah</h4>
                    <p>Bila Anda mengidap penyakit diabetes, cobalah untuk rutin mengonsumsi jamu kunyit asam. Kunyit telah lama diketahui dapat menurunkan gula darah pada orang dengan diabetes. Efek ini diduga akibat kemampuan antiinflamasi yang dimiliki oleh kunyit.</p>

                    <p>Bahkan sebuah studi pada tahun 2012 menunjukkan bahwa orang dengan prediabetes yang mengonsumsi kapsul kurkumin cenderung menghambat kemungkinan terkena diabetes tipe 2. Jadi, masih ragu dengan manfaat kunyit asam untuk kesehatan tubuh Anda?</p>


				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}