        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <link href="{{ function('base_url','assets/images/logo.png') }}" rel="shortcut icon"/> #}
        <title>{{page_title}}</title>

        <!--Dependencies Package-->
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/formvalidation/formvalidation.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/pg-calendar/dist/css/pignose.calendar.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/toastr/toastr.min.css') }}">
        
        <!--External Dependencies-->
        <link rel="stylesheet" href="{{ function('base_url','assets/fonts/stylesheet.css') }}">
        
        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ function('base_url','assets/css/navmenu/styles.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/css/style.css') }}">