        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# <link href="{{ function('base_url','assets/images/logo.png') }}" rel="shortcut icon"/> #}
        <title>{{page_title}}</title>

        <link rel="stylesheet" href="{{ function('base_url','assets/css/navmenu/styles.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/css/fonticons.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/fonts/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/css/pignose.calendar.min.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/datatables/dataTables.bootstrap.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/includes/formvalidation/formvalidation.css') }}">
        <link rel="stylesheet" href="{{ function('base_url','assets/css/portfolio.jquery.css') }}">

        <!--For Plugins external css-->
        <link rel="stylesheet" href="{{ function('base_url','assets/css/plugins.css') }}">
        
        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ function('base_url','assets/css/style.css') }}">
        